#header{
        /* overflow: hidden !important; */
        display: block;
        float: left;
        position: absolute;
        top: 0 !important;
        left: 0 !important;
        width: 98% !important;
        padding-top: 20px;
        padding-left:2%;
        height: 100px;
        text-align: left;
        background-color: #1B264F;
        color:whitesmoke;
    }
body{
    background-image: url("./images/products_background.png");
    background-position: center;
    background-repeat: repeat-y;
}

#heading{
    display: block;
    width:75%;
    float: left
}


#menu{
    display: block;
    width:25%;
    top:60px !important;
    padding-top: 30px;
    float: right;
}
.menu-item{
    margin-left:10px !important;
    display: block;
    width: 10%;
    float:left;
}


.menu-item .fa{
    font-size: 30px;
    color: white;
}

.menu-item:hover .fa{
    transform: scale(1.1);
}

#inner-body{
    margin-top: 150px !important;
    margin-left: 25% !important;
    width:70%;
}

.item{
    padding-left: 10px;
    padding-top:10px !important;
    margin-top: 10px !important;
    display:block;
    height:50px;
    width: inherit;
    background-color: white;
    box-shadow: 5px 0 15px -4px rgba(56, 57, 58, 0.97), -5px 0 8px -4px rgba(80, 81, 83, 0.97);
}

.item-id{
    top:5px !important;
    display: block;
    width:10%;
    float: left;
    font-size: 20px;
}
.item-name{
    display: block;
    width: 50%;
    float: left;
    font-size: 20px;

}
.item-edit{
    display: block;
    width:20%;
    float: left;
    font-size: 20px;
    }

.item-edit .fa:hover{
    transform: scale(1.1);
}
.item-delete{
    display: block;
    width:20%;
    float: left;
    font-size: 20px;

}
.item-delete .fa:hover{
    transform: scale(1.1);
}

#head{
    background-color: #1B264F;
    color: whitesmoke;
}