<!DOCTYPE html>
<head>
    <meta charset='utf-8'>
    <title>HYBROWLABS</title>
    <link rel="stylesheet" href='/static/change_password.css' />
</head>

<body>
    <div id='header'><h1>ACCOUNT SETTINGS</h1></div>
    <div id=input-wrapper>
        <h2>Change Password</h2>
        <div id='auth'></div>

    <input name='current' id='current' type='password' placeholder="Current Password" autofocus>
    <p>

    <input name='new' id='new-password' type="password" placeholder="New Password">
    <p>

    <input name='confirm' id='confirm-password' type="password" placeholder="Confirm Password">
    <p>
    <div id='back-button'><span>BACK</span></div>
    <div id='change-button'><span>CHANGE</span></div>
</div>
<script type='text/javascript' src="{{url_for('static',filename='change_password.js')}}"></script>
</body>
</html>