<!DOCTYPE html>
<head>
    <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title>HYBROWLABS</title>
    <link rel="stylesheet" href='/static/locations.css' />
</head>
<body>
    <div id=header>
        <div id=heading><h1>Locations</h1></div>
        <div id=menu>
            <div class=menu-item>
                <a href='/add_location'>
                <i class='fa fa-plus'></i></a>
            </div>
            <div class=menu-item>
                <a href='/loginredirect'>
                <i class='fa fa-arrow-circle-left'></i></a>
            </div>
        </div>        
    </div>
    <div id='inner-body'>
        <div id="head" class='item'>
            <div id='id-display' class = 'item-id'>ID</div>
            <div id='location-name' class = 'item-name'>LOCATION NAME</div>
            <div id='location-view' class = 'item-view'>LOCATION VIEW</div>
            <div id ='location-edit' class = 'item-edit'>
                EDIT
            </div>
            <div id='product-delete' class='item-delete'>
                DELETE
            </div>
        </div>
        {% for i in locations %}
            <div id="{{ i[0] }}" class='item'>
                <div id='id-display' class = 'item-id'>{{ i[0] }}</div>
                <div id='location-name' class = 'item-name'>{{ i[1]}}</div>
                <div id ='view-{{i[0]}}' class = 'item-view' name='{{ i[1]}}'>
                    <i class='fa fa-search'></i>
                </div>
                <div id ='edit-{{i[0]}}' class = 'item-edit' name='{{ i[0]}}'>
                    <i class='fa fa-edit'></i>
                </div>
                <div id = 'delete-{{i[0]}}' class='item-delete' name='{{ i[0]}}'>
                    <i class='fa fa-remove'></i>
                </div>
            </div>
        {% endfor %}
    </div>




</body>
</html>










    <script typr='text/javascript' src="{{url_for('static',filename='locations.js')}}"></script>
</body>
</html>