<!DOCTYPE html>
<head>
    <meta charset='utf-8'>
    <title>HYBROWLABS</title>
    <link rel="stylesheet" href='/static/login.css' />
</head>
<body>
    <div id='inner_body'>
        <div id='header'>
        </div>
        <div id='input-wrapper'>
            <div id='logo'></div>
            <h2> HYBROWLABS </h2>
            <div id='auth'></div>
            <form action="/" method="post" name="login_form" id="login_form" class="login_form" autocomplete="off">
                <input name='username' id='username' type='text' placeholder="Username" autofocus>
                <p>
                    <input name='password' id='password' type="password" placeholder="Password">
                <p>
                    <div id='login-button'><span>LOGIN</span></div>
            </form>
        </div>
    </div>
    <script type='text/javascript' src="static/login.js"></script>
</body>
</html>