<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title>HYBROWLABS</title>
    <link rel="stylesheet" href='/static/movements.css' />
</head>

<body>
    <div id=header>
        <div id=heading>
            <h1>Movements</h1>
        </div>
        <div id=menu>
            <div class=menu-item>
                <a href='/add_movement'>
                    <i class='fa fa-plus'></i></a>
            </div>
            <div class=menu-item>
                <a href='/loginredirect'>
                    <i class='fa fa-arrow-circle-left'></i></a>
            </div>
        </div>
    </div>
    <div id='inner-body'>
        <div id="head" class='item'>
            <div id='id-display' class='item-id'>ID</div>
            <div id='movement-timestamp' class='item-timestamp'>TIMESTAMP</div>
            <div id='movement-from' class='movement-from'>FROM</div>
            <div id='movement-to' class='movement-to'>TO</div>
            <div id='movement-pid' class='movement-pid'>PRODUCT ID</div>
            <div id='movement-qty' class='movement-qty'>QUANTITY</div>
            <div id='movement-edit' class='item-edit'>EDIT</div>
            <div id='product-delete' class='item-delete'>DELETE</div>
        </div>
        {% for i in movements %}
        <div id="{{ i[0] }}" class='item'>
            <div id='id-display' class='item-id'>{{ i[0] }}</div>
            <div id='movement-timestamp' class='item-timestamp'>{{i[1]}}</div>
            <div id='movement-from' class='movement-from'>{{i[2]}}</div>
            <div id='movement-to' class='movement-to'>{{i[3]}}</div>
            <div id='movement-pid' class='movement-pid'>{{i[4]}}</div>
            <div id='movement-qty' class='movement-qty'>{{i[5]}}</div>
            <div id='edit-{{i[0]}}' class='item-edit' name='{{ i[0]}}'>
                <i class='fa fa-edit'></i>
            </div>
            <div id='delete-{{i[0]}}' class='item-delete' name='{{ i[0]}}'>
                <i class='fa fa-remove'></i>
            </div>
        </div>
        {% endfor %}
    </div>




</body>

</html>










<script typr='text/javascript' src="{{url_for('static',filename='movements.js')}}"></script>
</body>

</html>